.admin_page {
  &::-webkit-scrollbar {
    width: 0;
  }
  .admin_page_content {
    &::-webkit-scrollbar {
      width: 0;
    }
    .admin {
      padding: 20px;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 700;
    }
    .add_new_product {
      display: flex;
      justify-content: space-around;
      &::-webkit-scrollbar {
        width: 0;
      }
      .edit_add {
        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
  }
}
