.reviews {
  &_content {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10 0;
    .review_item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .review_user_name {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .review_message {
        font-size: 1.3rem;
      }
    }
  }
}
