.order_desserts {
  font-family: "Fira sans" sans-serif;
  height: 320px;
  color: #fff;
  box-sizing: border-box;
  .order_desserts_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 40px;
    gap: 30px;
    height: 100%;
    background-image: url("../../../assets/images/info_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .order_desserts_title {
      font-size: 1.5rem;
    }
    .order_desserts_text {
      font-size: 24px;
    }
    .order_desserts_btn {
      width: 170px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1f7d63;
      border-radius: 6px;
    }
  }
}
