.header {
  width: 100%;
}

.header .header_top_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
}

.header .header_top_menu .header_top-left {
  width: 50%;
}

.header .header_top_menu .header_top-left ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.header .header_top_menu .header_top-right {
  width: 50%;
}

.header .header_top_menu .header_top-right ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.header .header_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.header .header_main .btn_catalog {
  width: 120px;
  height: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #1f7d63;
  color: #fff;
  border-radius: 10px;
}

.header .header_main .btn_catalog svg {
  fill: #fff;
}

.header .header_main .search_inp {
  width: 50%;
  height: 50px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.header .header_main .search_inp input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 0 10px;
}

.header .header_main .search_inp .search_icon {
  width: 60px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1f7d63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_main .search_inp .search_icon svg {
  fill: #fff;
}

.header .header_main .user_actions {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_main .user_actions svg {
  height: 100%;
  fill: #525552;
}

.header .header_main .user_actions .basket {
  position: relative;
}

.header .header_main .user_actions .basket span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #6ce906;
  bottom: 0;
  right: -10px;
  width: 18px;
  height: 18px;
  color: #fff;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_main .user_actions .fav {
  position: relative;
}

.header .header_main .user_actions .fav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #6ce906;
  bottom: 0;
  right: -10px;
  width: 18px;
  height: 18px;
  color: #fff;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=Header.css.map */